@font-face {
  font-family: "Kombat";
  src: local("mortalkombat2"),
    url("./fonts/mortalkombat2.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

body {
  height: inherit;
  width: inherit;
  font-family: "Kombat";
}

ul,
li {
  list-style: none;
}

#root {
  height: inherit;
  width: inherit;
}

main {
  height: inherit;
  width: inherit;
  background-image: url("/public/images/mortalkombatii_portal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
